@{
    ViewBag.Title = "Log In";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    
    <br />
    <h3>User:</h3>
    <input type="text" name="User" value="" />
    <br /><br />
    <h3>Password:</h3>
    <input type="text" name="pasword" value="" />
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <input type="submit" value="Log in" class="btn btn-outline-dark" />
        </div>
    </div>
</main>