
@{
    ViewBag.Title = "UserRegisterInterested";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<link rel="stylesheet" href="~/Scripts/css/Index.css">

<main>

    <div class="menu-dezplasable">

        <ul>
            <li><img class="menu-dezplasable img" src="~/Images/imagen index.png"></li>
        </ul>

    </div>


    <div class="desplegar">
        <button class="button-27">ordenar</button>
        <div class="opciones1">
            <a href="#">fecha ascendente</a>
            <a href="#">fecha descendente</a>
        </div>
    </div>
    <div class="desplegar2">
        <button class="button-27">Filtrar</button>
        <div class="opciones2">
            <a href="#">Ubicacion</a>
            <a href="#">Edad</a>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


    <div class="row">
        <br />
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">oferta 1</h2>
            <center><img src="~/Images/Logo.png" alt="Alternate Text" /></center>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leer mas &raquo;</a></p>
        </section>
        <br />
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="gettingStartedTitle">oferta 2</h2>
            <center><img src="~/Images/Logo.png" alt="Alternate Text" /></center>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leer mas &raquo;</a></p>
        </section>
        <br />
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="gettingStartedTitle">oferta 3</h2>
            <center><img src="~/Images/Logo.png" alt="Alternate Text" /></center>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leer mas &raquo;</a></p>
        </section>
        <br />
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="gettingStartedTitle">oferta 4</h2>
            <center><img src="~/Images/Logo.png" alt="Alternate Text" /></center>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leer mas &raquo;</a></p>
        </section>
    </div>
</main>

