
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Account Usuarios interesados:</h2>
<h3><a>@Html.ActionLink("Create Account interested", "Register", "Users")</a></h3>
<br />
<h2>Create Account Usuarios Ofertantes:</h2>
<h3><a>@Html.ActionLink("Create Account Offeror", "RegisterOferror", "Users")</a></h3>